<div class="body">
    <div class="capaBlanca">
        <div class="centre">
            <img class="imagen" src="./mix/imagen_quienes_somos.png" alt="">
        </div>

        <div class="centre">
            <img class="imagen" src="./logos/logo.png" alt="">
        </div>
    </div>

    <div class="capaRosa">
        <div class="centre textCentre">
            <h2>
                Nuestros Inicios
            </h2>
            <p>
                Nuestra historia como la de muchaspersonas que se dedican de una forma desinteresada en esto...
                Pues comenzo por el año 2016, cuando un vecino me llamo si quiería un poni, aunque en un principio no
                entendi eso, le ayude a buscarle un nuevo hogar, aunque en mi cabeza rondaba quien narices se va a
                quedar un poni.... Al final se quedo en el lugar menos esperado, debajo de casa en una campa donde
                estaba bien cuidado y vigilado.
            </p>
        </div>
    </div>
    <div class="capaBlanca">
        <div class="centre textCentre">
        <h2>
            Nuestros Valores
        </h2>
        <p>
            Creemos en un bienestar fisico y emocional de todos los animales, donde tiene el mismo derecho a tener una
            vida digna y con derechos.
            Un lugar al cual llamar hogar y sentirse seguro sin miedo a nada.
            Creemos que es una lucha por la cual merece la pena y debemos dar una visibilidad y concienciacion de toda
            persona.
        </p>
    </div>
</div>
</div>