<div class="body">
    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="/logos/logo.png" alt="logo">
            <h2>VILLA PIRRITX</h2>
        </div>

        <div class="centre card2">
            <p class="textCentre"><b>¡Sin vuestra ayuda nada es posible!</b></p>

            <p class="textCentre">Cada año, miles de animales son abandonados o viven en situaciones de verdadera decadencia, esperando a que alguien les ayude. Por todo esto, y para que sea posible, Villa Pirritx necesita de vuestra ayuda. Sin vosotros/as, esto no sería posible.</p>
            <p class="textCentre">Todos y todas podemos aportar nuestro granito de arena, porque solo unidos conseguiremos que cada uno de los animales que pasen y pasarán por Villa Pirritx tenga un hogar digno para vivir. Existen muchas formas de ayudarnos y ser parte de este gran proyecto.</p>
        </div>
    </div>

    <div class="capaRosa">
        <div class="centre card2">
            <p class="textCentre"><b>¿Te gustaría ser casa de acogida?</b></p>

            <p class="textCentre">En muchas situaciones, salvar un animal puede ser una odisea. Ya lo hemos rescatado, ¿pero ahora qué? Muchas veces, mientras esperamos a esa familia, necesita un hogar temporal donde le den los cuidados y el amor necesario para que se vaya recuperando, no solo físicamente, sino también emocionalmente, de sus heridas.</p>
            <button class="btnMorado">Pregúntanos</button>
        </div>

        <div class="centre cardLogo">
            <img class="logo" src="mix/acogida1.jpeg" alt="hogar">
        </div>
    </div>

    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="mix/apadrina1.jpeg" alt="logo">
        </div>

        <div class="centre card2">
            <p class="textCentre"><b>Apadrina un ser vivo</b></p>

            <p class="textCentre">Cada perro tiene una historia única de abandono o maltrato. Con tu ayuda, podemos darles una segunda oportunidad, proporcionándoles los cuidados necesarios para que puedan recuperarse y vivir en un ambiente lleno de amor. Muchas veces, por nuestra situación personal, no podemos acoger o adoptar un perro, pero sí podemos aportar una pequeña cantidad económica que le ayude a mejorar y sanar las heridas emocionales y físicas.</p>
            <button class="btnRosa">Pregúntanos</button>
        </div>
    </div>

    <div class="capaRosa">
        <div class="centre card2">
            <p class="textCentre"><b>Dona cosas que tengas en casa</b></p>

            <p class="textCentre">Ayuda a nuestra protectora de animales donando objetos para nuestros mercadillos solidarios. Tus donaciones se convertirán en recursos para cubrir los cuidados y tratamientos que necesitan nuestros peludos amigos. Puedes donar ropa, libros, juguetes o artículos de decoración y, así, les das una segunda vida mientras apoyas una causa solidaria. Participa contactándonos para coordinar la entrega de tus donaciones. Cualquier aportación marcará una gran diferencia.</p>
            <button class="btnMorado">Pregúntanos</button>
        </div>

        <div class="centre cardLogo">
            <img class="logo" src="mix/acogida1.jpeg" alt="hogar">
        </div>
    </div>

    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="mix/voluntarios.jpeg" alt="logo">
        </div>

        <div class="centre card2">
            <p class="textCentre"><b>Voluntariado</b></p>

            <p class="textCentre">Ser voluntario en la protectora es una oportunidad para marcar la diferencia en la vida de animales que han sufrido abandono. Con tu tiempo y dedicación, ayudas en su cuidado y les das el cariño que tanto necesitan. Además, contribuyes a mejorar sus oportunidades de ser adoptados. Es una experiencia gratificante que te conecta con otros amantes de los animales y te permite ser parte de un equipo que trabaja por un mundo más compasivo.</p>
            <button class="btnRosa">Pregúntanos</button>
        </div>
    </div>

    <div class="capaRosa">
        <div class="centre card2">
            <p class="textCentre"><b>Viajes solidarios</b></p>

            <p class="textCentre">Los viajes solidarios son una forma clave de ayudar a nuestros animales a encontrar su hogar definitivo. Transportar perros y gatos a otras ciudades o países donde serán adoptados es una misión llena de esperanza. Al participar en estos viajes, ayudas a que los animales lleguen seguros a su nuevo hogar, ofreciéndoles una segunda oportunidad para una vida mejor. Es una experiencia gratificante que contribuye directamente al bienestar de los peludos y a su adopción.</p>
            <button class="btnMorado">Pregúntanos</button>
        </div>

        <div class="centre cardLogo">
            <img class="logo" src="mix/acogida1.jpeg" alt="hogar">
        </div>
    </div>

    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="mix/voluntarios.jpeg" alt="logo">
        </div>

        <div class="centre card2">
            <p class="textCentre"><b>Difunde</b></p>

            <p class="textCentre">Difundir en redes o de manera verbal es una de las formas más poderosas de ayudar a los animales. Cuanto más se conozcan sus historias, más oportunidades tendrán de encontrar un hogar. Compartiendo publicaciones o hablando con amigos y familiares, puedes conectar a nuestros peludos con personas dispuestas a adoptar o apoyar la causa. Cada mensaje cuenta y puede marcar la diferencia en la vida de un animal necesitado.</p>
            <button class="btnRosa">Pregúntanos</button>
        </div>
    </div>
</div>
