<div class="eslogan">
    <h3>LAS OPORTUNIDADES SOLO PASAN UNA VEZ EN LA VIDA, VEN Y SALVA UNA VIDA</h3>
</div>
<div class="navbar">
    <div>
        <ul>
            <li>Inicio</li>
            <li>Quienes somos</li>
            <li>Colabora</li>
            <li>Adopta</li>
            <li>Nuestro poryecto</li>
            <li>Eventos</li>
            <li>Contacta</li>
            <li><img src="#" alt="facebook"></li>
            <li><img src="#" alt="instagram"></li>
        </ul>
    </div>
</div>