
<div class="capaRosa">
    <div class="horizontalSpaceAround">
        <div class="cardB">
            <div class="cardBText">
                <h2>Donativo Casual</h2>
                <h6>Cuenta de ingreso</h6>
                <h6>Sabadel: ES 66 0081 7515 6100 0154 8864</h6>
                <h6>Bizum: +34 699 80 70 49</h6>
                <img src="./forma_de_pagos/Paypal.png" style="margin-bottom: 1rem; width: 60%;" alt="">
            </div>
    
        </div>
        <div class="centre ">
            <h2>¿Quiéres Ayudar?</h2>
            <div class="centre ayudar">
                <div class="cardBp">
                    <h2>6€</h2>
                    <h6>Compramos vacunas</h6>
                </div>
                <div class="cardBp">
                    <h2>10€</h2>
                    <h6>Compramos medicamentos</h6>
                </div>
                <div class="cardBp">
                    <h2>25€</h2>
                    <h6>Compramos comida</h6>
                </div>
            </div>
            <h4><strong>Hazte  parte de nuestro equipo de Teaming</strong></h4>
            <h4>villapirritxanimaliak</h4>
    
        </div>
    </div>
</div>

<div class="capaBlanca">
    <div class="footer_2">
        <div class="redes_sociales">
            <img src="./redes_sociales/Facebook_icono.png" alt="Facebook">
            <img src="./redes_sociales/instagram_icono.png" alt="Instagram">
        </div>
        <div class="logo">
            <img src="./logos/Logo_footer.png" alt="Logo Villa Pirritx">
        </div>
        <div class="contacto">
            <h3>teléfono</h3>
            <h4>699 80 70 49</h4>
        </div>
    </div>
</div>
<div class="capaRosa">
    <div class="footer3">
        <h6>Página web realizada por el equipo KodeBarri</h6>
    </div>
</div>



