<div class="body">
    <div class="capaBlanca">

        <div class="centre">
            <div class="capaBlanca">
                <div class="centre cardLogo">
                    <img class="logo" src="/logos/logo.png" alt="logo">
                    <h2>VILLA PIRRITX</h2>
                </div>
        
                <div class="centre card2">
                    <p class="textCentre">Gracias a nuestra labor desinteresada y a vuestras ayuda hemos conseguido salvar a un gran numero de animales desde que en 2016 se creara Villa Pirritx</p>
                    <div class="miniRosa">
                        <p>1050</p>
                        <p>animales ayudados</p>
                    </div>
                    <div class="horizontal">
                        <div class="horizontal">
                            <img class="logoPeq" src="/iconos/perro.png" alt="">
                            <p>500</p>
                        </div>
                        <div class="horizontal">
                            <img class="logoPeq" src="/iconos/gato.png" alt="">
                            <p>350</p>
                        </div>
                        <div class="horizontal">
                            <img class="logoPeq" src="/iconos/perro.png" alt="">
                            <p>35</p>
                        </div>
                        <div class="horizontal">
                            <img class="logoPeq" src="/iconos/perro.png" alt="">
                            <p>20</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="centre"><img class="animalitos" src="/iconos/animalitos.png" alt=""></div>

        </div>
    </div>

    <div class="capaRosa">
        <div class="centre textCentre">
            <h2>Nuestro proyecto</h2>
            <p>Un pequeño gesto para ti, un gran paso para ellos</p>
            <p>Nuestro proyecto en la protectora de animales se centra en rescatar, rehabilitar y encontrar hogares amorosos para aquellos que han sufrido abandono o maltrato Brindamos refugio, atención veterinaria y cariño a perros y gatos mientras buscamos familias definitivas para ellos Además, promovemos la importancia de la esterilización y la tenencia responsable de mascotas.</p>
        </div>

    </div>


    <div class="capaBlanca">

        <div class="centre">
            <div class="capaBlanca">
                <div class="centre">
                <h2>Nuestros Valores</h2>

                <p class="textCentre">En nuestra protectora, trabajamos día a día guiados por tres pilares fundamentales: la ayuda, el amor y el respeto. Estos valores son el corazón de nuestra misión y se reflejan en cada una de nuestras acciones hacia los animales que protegemos.</p>
        
                <div class="horizontalSpaceAround">
                    <div class="card centre">
                        <img class="redonda" src="/adopciones/adopcion1.jpeg" alt="adopción">
                        <h2>Ayuda</h2>
                        <p class="textCentre">Nos dedicamos a rescatar y cuidar animales en situación vulnerable, brindándoles el apoyo necesario para que tengan una segunda oportunidad en un hogar lleno de cariño.</p>
                    </div>
                    <div class="card centre">
                        <img class="redonda" src="/adopciones/adopcion2.jpeg" alt="adopción">
                        <h2>Amor</h2>
                        <p class="textCentre">Cada animal es tratado con amor y dedicación. Creemos en el vínculo afectivo entre humanos y animales, y fomentamos la adopción responsable basada en el respeto y el cariño.</p>
                    </div>
                    <div class="card centre">
                        <img class="redonda" src="/mix/dona.jpeg" alt="adopción">
                        <h2>Respeto</h2>
                        <p class="textCentre">Valoramos la vida y el bienestar de cada ser. Nos comprometemos a cuidar a los animales con dignidad, reconociendo sus necesidades y promoviendo una cultura de respeto hacia ellos y su entorno.</p>
                    </div>

                </div>  

                <div class="horizontalSpaceAround">

                    <div class="cards centre">
                        <h2>¿Qué hacemos?</h2>
                        <p class="textCentre">En nuestra protectora de animales, nos dedicamos a rescatar, cuidar y reubicar animales en situación de abandono o maltrato. Ofrecemos atención veterinaria, alimentación y un entorno seguro mientras buscamos hogares amorosos para ellos. Además, promovemos la educación sobre el bienestar animal y la adopción responsable, creando conciencia sobre la importancia de tratar a todos los seres vivos con amor y respeto. Nuestra misión es brindarles una segunda oportunidad y un futuro mejor.</p>
                    </div>
                    <div class="centre cards">
                        <h2>¿En qué creemos?</h2>
                        <p class="textCentre">Creemos firmemente que todos los animales merecen amor, respeto y una vida digna. Sostenemos que la ayuda a los seres vulnerables es una responsabilidad compartida, y que cada acción cuenta para mejorar su bienestar. Fomentamos la adopción responsable y la educación sobre el trato ético hacia los animales, convencidos de que el vínculo humano-animal enriquece nuestras vidas. Nuestra misión es crear un mundo donde todos los animales sean valorados y protegidos.</p>
                    </div>
                </div>
                <div>Carrusel</div>


            </div>
        </div>
    </div>


    
</div>
