<div class="body">
    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="/logos/logo.png" alt="logo">
            <h2>VILLA PIRRITX</h2>
        </div>

        <div class="centre card2">
            <img class="ImgBR" src="/mix/familiaadopta.jpeg" alt="">
        </div>
    </div>

    <div class="capaRosa">
        <div class="centre card2">
            <h2>Contáctanos</h2>

            <p class="textCentre">Puedes contactar con nosotros mediante correo electrónico, WhatsApp o a través de nuestras RRSS (Facebook e Instagram), no tenemos atención telefónica.</p>
            <p class="textCentre">Ten en cuenta que somos voluntarios y, como tú, tenemos nuestros trabajos, nuestra vida y nuestras familias y mascotas que necesitan tiempo y dedicación. Por eso te pedimos comprensión y un poco de paciencia si no podemos atenderte de manera inmediata o encuentras nuestros teléfonos apagados. GRACIAS.</p>
            <div class="horizontal">
                <button class="btnMorado horizontal"><img class="icono" src="iconos/telefono.png" alt=""><p>xxx xx xx xx</p></button>
                <button class="btnMorado"><p>villapirritx&#64;gmail.com</p></button>
            </div>
        </div>

        <div class="centre cardLogo">
            <img class="logo" src="mix/acogida1.jpeg" alt="hogar">
        </div>
    </div>

</div>
