<div class="body">
    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="/logos/logo.png" alt="logo">
            <h2>VILLA PIRRTIX</h2>
            <p class="textCentre">Ayudando a diferentes animales a encontrar un hogar y poder tener su segunda oportunidad</p>
            <button class="btnRosa">Entra y marca la diferencia</button>
        </div>

        <div class="centre">
            <img class="imagen" src="/mix/animalitos.png" alt="animalitos">
            <p class="textCentre">TODOS MERECEMOS UNA SEGUNDA OPORTUNIDAD</p>
        </div>

    </div>

    <div class="capaRosa">

    </div>

</div>
