<div class="body">
    <div class="capaBlanca">
        <div class="centre cardLogo">
            <img class="logo" src="/logos/logo.png" alt="logo">
            <h2>VILLA PIRRITIX</h2>
            <p class="textCentre">Ayudando a diferentes animales a encontrar un hogar y poder tener su segunda oportunidad</p>
            <button class="btnRosa">Entra y marca la diferencia</button>
        </div>

        <div class="centre">
            <img class="imagen" src="/mix/animalitos.png" alt="animalitos">
            <p class="textCentre">TODOS MERECEMOS UNA SEGUNDA OPORTUNIDAD</p>
        </div>

    </div>

    <div class="capaRosa">
        <div class="centre">
            <h2><b>Colabora con nosotros</b></h2>
            <h3>Un pequeño gesto para ti, un gran paso para ellos</h3>
            <div class="horizontalSpaceAround">
                <div class="card centre">
                    <img class="redonda" src="/adopciones/adopcion1.jpeg" alt="adopción">
                    <a href="#"><h3>Adopta</h3></a>
                </div>
                <div class="card centre">
                    <img class="redonda" src="/adopciones/adopcion2.jpeg" alt="adopción">
                    <a href="#"><h3>Apadrina</h3></a>
                </div>
                <div class="card centre">
                    <img class="redonda" src="/mix/dona.jpeg" alt="adopción">
                    <a href="#"><h3>Dona</h3></a>
                </div>
                <div class="card centre">
                    <img class="redonda" src="/adopciones/adopcion3.jpeg" alt="adopción">
                    <a href="#"><h3>Voluntario</h3></a>
                </div>
            </div>
        </div>
    </div>

    <div class="capaBlanca">
        <div class="centre">
            <h2><b>Eventos</b></h2>
            <div class="horizontalSpaceAround">
                <div class="cards centre">
                    <h4>Mercado solidario</h4>
                    <img class="ImgBR" src="mix/dona.jpeg" alt="adopción">
                    <h3>Leioa</h3>
                    <p>29/09/2024</p>
                    <p>10:00-14:00</p>
                    <button class="btnMorado">Difundir</button>
                </div>
                <div class="cards centre">
                    <h4>Charla Gratuita</h4>
                    <img class="ImgBR" src="/mix/dona.jpeg" alt="adopción">
                    <h3>Online</h3>
                    <p>27/10/2024</p>
                    <p>10:00-14:00</p>
                    <button class="btnMorado">Difundir</button>
                </div>
                <div class="cards centre">
                    <h4>Recogia de alimentos</h4>
                    <img class="ImgBR" src="mix/dona.jpeg" alt="adopción">
                    <h3>CC Artea (Leioa)</h3>
                    <p>10/10/2024</p>
                    <p>10:00-14:00</p>
                    <button class="btnMorado">Difundir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="capaRosa">

    </div>

</div>
